html,
body,
#root {
	height: 100%;
	width: 100%;
}

p {
	color: #ffffff;
	font-weight: 400;
}

a {
	text-decoration: none;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

div {
	scrollbar-color: #f38235 #000000;
}

div::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #000000;
}

div::-webkit-scrollbar {
	width: 1px;
	background-color: #000000;
}

div::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background-color: #f39235;
}
