.flex {
	display: flex;
}

.align-items-center {
	align-items: center;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.flex-center-children {
	align-items: center;
	justify-content: center;
}

.fill {
	height: 100%;
	width: 100%;
}

.full-width {
	width: 100%;
}
